TELEGRAM_BOT_TOKEN=
TELEGRAM_SERVER_URL=
TELEGRAM_CHECK_INIT_TIMEOUT=30s
TELEGRAM_POLL_TIMEOUT=1m
TELEGRAM_DEBUG=false

TELEGRAM_RESPONSE_MIN_QUERY_LEN=3
TELEGRAM_REQUEST_MAX_PAGE_SIZE=5

PATH_QUESTIONS_FILE=../out/merged/result.xml
PATH_PICTURES_DIR=../out/merged

SEARCH_NGRAM_SIZE=3
SEARCH_MIN_SCORE=0.4
SEARCH_PREFIX_BONUS=1
SEARCH_SUBSTRING_BONUS=0.5
SEARCH_FUZZY_MIN_LEN=3
SEARCH_INDEX_ANSWERS=false